/*Author: Muhammad Asad Imran */
/*October 7, 2021 */

/*w3 school documentation used as reference*/
/*BODY*/
*.body{
    font-family: 'Times New Roman', Times, serif;
}
/*HEADER*/
/*changes the color for the header background*/
.box{
    background-color: rgb(200, 200, 200);
}
#headerMain{
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-right: .25em;
    padding-left: .25em;
    margin-top: .25em;
    margin-bottom: .25em;
    margin-right: .25em;
    margin-left: .25em;
}

#authorName{
    color: #be1717;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-align: center;
    margin: 50px 50px 50px 50px;
    padding: 1em 1em 1em 1em;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
}

#intro{
    height: 40px;
    width: 125px;
    background-color: aqua;
}

#Attendance{
    max-width: 130px;
    max-height: 100px;
    background-color: blueviolet;
}

#recap{
    position: static;
}
/*makes text inline*/
#LookingForward{
    display: inline;
}

/*makes text blocked*/
/*only shows on larger screens*/
@media screen and (min-width: 100px){
    #questions:active {
        display: block;
    }
}


/*makes button blue when hovering*/
.favoritestyled:hover{
    color: blue;
    background-color: #be1717;
}
/*make list red when clicked*/
#list1:active{
    color: red;
}

/*sets absolute position for favicon*/
.pic{
    position: absolute; 
    top: 100px;
    left: 350px;
}

h2{
    color: pink;
}

a[value]{
    color: magenta;
}

h1, h2, h3{
    font-style: italic;
}

section h2{
    text-decoration: underline;
}

h2 + p {
    color: aqua;
}

h2 ~ p{
    background-color: yellow;
}

.grid{
    display: grid;
    grid-gap: 20px;
    background-color: lightgrey;
    padding: 20px;
}
.grid > div{ 
    background-color: antiquewhite;
    text-align: center;
    padding: 30px;
    font-size: 40px;
}


#divAttribute.classAttribute{
    color: hsl(250, 100%, 50%);
}





